<hr>
<%= image_tag comment.user.profile_image.url(:thumb), height: '30', width: '30' %>
<%= comment.user.email %>

<p><%= comment.text %></p>
<p><%= time_ago_in_words comment.created_at %>
<br>

<% if user_signed_in? %>

  <% if current_user.id == comment.user_id %>
    <p><%= link_to "Delete", [@blog, comment], remote: true, method: :Delete, data: {:confirm => "Are You Sure?"} %></p>
    
  <% end %>
  <br>
<% end %>
