<!DOCTYPE html>
<html>
<head>
  <title>BlogApplication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <% if session[:user_id] %>
    <br />
      <%= button_to 'Logout', logout_path, :method => :delete %>
      <%= link_to 'New Blog', new_blog_path %>
    <% else %>
      <%= button_to 'Login', login_path, :method => :get %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
